ul{
    margin-left: 33%;
}
.header , table {
    text-align: center;
}
*{
    font-family: 'Hahmlet', serif;
    background-color: rgb(161, 218, 228);
} 
/* *{
    background:radial-gradient(#fff,#ffd6d6);
    text-align: center;
    /* font-size: large; 
} */
a{
    text-decoration: none;
    color: #555;
}
.btn{
    padding-top: 10%;
    padding-left: 47%;
    margin: 30px 0px;
    border-radius: 30px;
    border-color: solid black;
    transition: 0.5s;
    text-align: center;
}

